# Setăm Java ca limbaj principal
*.java linguist-language=Java

# SQL să fie detectat corect
*.sql linguist-language=SQL

# Ignorăm fișierele HTML/JS/CSS
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
